a{float: left;}

body{
  background: white;
  margin: 0;
  /*display: -webkit-flexbox;*/
  /*display: -ms-flexbox;*/
  display: -webkit-flex;
  /*display: flex;*/
  /*-webkit-flex-align: center;*/
  /*-ms-flex-align: center;*/
  -webkit-align-items: center;
  /*align-items: center;*/
  /*justify-content: center;*/
}

.display{
  width: 50vw;
  height: auto;
}

#list {
  display: none;
}